<div class="flx nav-featured-product">
  <div class="nav-product-item">
    <a src="{{ settings.shop_label_link_1 }}">
      <img src="{{ settings.shop_image_1.src | img_url: '200x'}}">
      <p>{{ settings.shop_label_1 }} {%- render 'icon-arrow-right-svg' -%}</p>
      <div class="badge-wrapper">
        <span>{{ settings.product_desc }}</span><span>{{ settings.save_badge_1 }}</span>
      </div>
    </a>
  </div>
</div>